<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Testing</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <ul>
        <li><a href="/number1">Logic number 1</a></li>
        <li><a href="/number2">Logic number 2</a></li>
        <li><a href="/number3">Logic number 3</a></li>
        <li><a href="/api-docs">Web API</a></li>
        <li><a href="/scripting">Scripting Data Master</a></li>
        <li><a href="/filter">Scripting Filter API</a></li>
    </ul>
</body>
</html>